RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.halfpricepackaging.com/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.halfpricepackaging.com/$1 [L,R=301] 

### Rewrite Rules Added by CyberPanel Rewrite Rule Generator

#RewriteEngine On
#RewriteCond %{HTTPS}  !=on
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

### End CyberPanel Generated Rules.



<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/ 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
   
    RewriteRule ^(.*)$ /public/$1 
    #RewriteRule ^ index.php [L]
    RewriteRule ^(/)?$ public/index.php [L]     
    
</IfModule>




RewriteEngine On
RewriteRule /soap-sleeves.php 	https://www.halfpricepackaging.com/soap-sleeves	[L,R=301]
RewriteRule /tuck-top-mailer-boxes.php	https://www.halfpricepackaging.com/tuck-top-mailer-boxes	[L,R=301]
RewriteRule /mailer-boxes.php	https://www.halfpricepackaging.com/mailer-boxes	[L,R=301]
RewriteRule /luxury-candle-boxes.php	https://www.halfpricepackaging.com/luxury-candle-boxes	[L,R=301]
RewriteRule /auto-lock-boxes.php	https://www.halfpricepackaging.com/auto-lock-boxes	[L,R=301]
RewriteRule /soap-boxes.php	https://www.halfpricepackaging.com/soap-boxes	[L,R=301]
RewriteRule /coffee-boxes.php	https://www.halfpricepackaging.com/coffee-boxes	[L,R=301]
RewriteRule /rigid-boxes.php	https://www.halfpricepackaging.com/rigid-boxes	[L,R=301]
RewriteRule /truffle-boxes.php	https://www.halfpricepackaging.com/truffle-boxes	[L,R=301]
RewriteRule /frozen-food-boxes.php	https://www.halfpricepackaging.com/frozen-food-boxes	[L,R=301]
RewriteRule /mystery-boxes.php	https://www.halfpricepackaging.com/mystery-subscription-box	[L,R=301]
RewriteRule /explosion-boxes.php	https://www.halfpricepackaging.com/explosion-boxes	[L,R=301]
RewriteRule /gift-boxes.php	https://www.halfpricepackaging.com/gift-boxes	[L,R=301]
RewriteRule /pie-boxes.php	https://www.halfpricepackaging.com/pie-boxes	[L,R=301]
RewriteRule /product-boxes.php	https://www.halfpricepackaging.com/product-boxes	[L,R=301]
RewriteRule /candle-boxes.php	https://www.halfpricepackaging.com/candle-boxes	[L,R=301]
RewriteRule /cardboard-boxes.php	https://www.halfpricepackaging.com/cardboard-boxes	[L,R=301]
RewriteRule /child-resistant-boxes.php	https://www.halfpricepackaging.com/child-resistant-boxes	[L,R=301]
RewriteRule /pizza-boxes.php	https://www.halfpricepackaging.com/pizza-boxes	[L,R=301]
RewriteRule /lipstick-boxes.php	https://www.halfpricepackaging.com/lipstick-boxes	[L,R=301]
RewriteRule /tea-boxes.php	https://www.halfpricepackaging.com/tea-boxes	[L,R=301]
RewriteRule /mylar-bags.php	https://www.halfpricepackaging.com/mylar-bags	[L,R=301]
RewriteRule /pancake-box.php	https://www.halfpricepackaging.com/pancake-box	[L,R=301]
RewriteRule /pasta-box.php	https://www.halfpricepackaging.com/pasta-box	[L,R=301]
RewriteRule /shirt-boxes.php	https://www.halfpricepackaging.com/shirt-boxes	[L,R=301]
RewriteRule /suitcase-boxes.php	https://www.halfpricepackaging.com/suitcase-boxes	[L,R=301]
RewriteRule /window-boxes.php	https://www.halfpricepackaging.com/window-boxes	[L,R=301]
RewriteRule /display-pop-up-boxes.php	https://www.halfpricepackaging.com/display-box-packaging	[L,R=301]
RewriteRule /pop-corn-box.php	https://www.halfpricepackaging.com/popcorn-boxes	[L,R=301]
RewriteRule /tea-bag-boxes.php	https://www.halfpricepackaging.com/tea-bag-boxes	[L,R=301]
RewriteRule /vape-boxes.php	https://www.halfpricepackaging.com/vape-boxes	[L,R=301]
RewriteRule /vinyl-record-mailers.php	https://www.halfpricepackaging.com/vinyl-record-mailers	[L,R=301]
RewriteRule /auto-part-boxes.php	https://www.halfpricepackaging.com/auto-parts-boxes	[L,R=301]
RewriteRule /cosmetic-boxes.php	https://www.halfpricepackaging.com/cosmetic-boxes	[L,R=301]
RewriteRule /ear-lock-mailer-box.php	https://www.halfpricepackaging.com/ear-lock-mailer-box	[L,R=301]
RewriteRule /macaron-boxes.php	https://www.halfpricepackaging.com/macaron-boxes	[L,R=301]
RewriteRule /gable-boxes.php	https://www.halfpricepackaging.com/gable-boxes	[L,R=301]
RewriteRule /pillow-boxes.php	https://www.halfpricepackaging.com/pillow-boxes	[L,R=301]
RewriteRule /cigarette-boxes.php	https://www.halfpricepackaging.com/custom-cigarette-boxes	[L,R=301]
RewriteRule /contact.php	https://www.halfpricepackaging.com/contact-us	[L,R=301]
RewriteRule /two-piece-candle-boxes.php	https://www.halfpricepackaging.com/two-piece-candle-boxes	[L,R=301]
RewriteRule /cookie-boxes.php	https://www.halfpricepackaging.com/cookie-boxes	[L,R=301]
RewriteRule /die-cut-boxes.php	halfpricepackaging.com/die-cut-boxes	[L,R=301]
RewriteRule /soap-hotel-amenities.php	https://www.halfpricepackaging.com/soap-hotel-amenities	[L,R=301]
RewriteRule /biscotti-packaging-boxes.php	https://www.halfpricepackaging.com/biscotti-packaging-boxes	[L,R=301]
RewriteRule /consumer-tray-boxes.php	https://www.halfpricepackaging.com/consumer-tray-box	[L,R=301]
RewriteRule /bagel-box.php	https://www.halfpricepackaging.com/bagel-box	[L,R=301]
RewriteRule /die-cut-soap-boxes.php	https://www.halfpricepackaging.com/die-cut-soap-boxes	[L,R=301]
RewriteRule /snack-boxes.php	https://www.halfpricepackaging.com/snack-boxes	[L,R=301]
RewriteRule /white-boxes.php	https://www.halfpricepackaging.com/white-boxes	[L,R=301]
RewriteRule /cbd-bath-bombs-boxes.php	https://www.halfpricepackaging.com/cbd-bath-bomb-boxes	[L,R=301]
RewriteRule /holographic-foiling-boxes.php	https://www.halfpricepackaging.com/holographic-foiling-boxes	[L,R=301]
RewriteRule /packaging-insert.php	https://www.halfpricepackaging.com/packaging-inserts	[L,R=301]
RewriteRule /soap-packaging-sleeves.php	https://www.halfpricepackaging.com/soap-packaging-sleeves	[L,R=301]
RewriteRule /tuck-boxes.php	https://www.halfpricepackaging.com/tuck-boxes	[L,R=301]
RewriteRule /cbd-boxes.php	https://www.halfpricepackaging.com/cbd-boxes	[L,R=301]
RewriteRule /custom-e-liquid-boxes.php	https://www.halfpricepackaging.com/custom-e-liquid-boxes	[L,R=301]
RewriteRule /custom-tray-and-sleeve-box.php	https://www.halfpricepackaging.com/custom-tray-and-sleeve-box	[L,R=301]
RewriteRule /donut-boxes.php	https://www.halfpricepackaging.com/donut-boxes	[L,R=301]
RewriteRule /lip-gloss-boxes.php	https://www.halfpricepackaging.com/lip-gloss-boxes	[L,R=301]
RewriteRule /archive-boxes.php	https://www.halfpricepackaging.com/archive-boxes	[L,R=301]
RewriteRule /candy-boxes.php	https://www.halfpricepackaging.com/candy-boxes	[L,R=301]
RewriteRule /cube-boxes.php	https://www.halfpricepackaging.com/cube-boxes	[L,R=301]
RewriteRule /lip-balm-boxes.php	https://www.halfpricepackaging.com/lip-balm-boxes	[L,R=301]
RewriteRule /luxury-apparel-boxes.php	https://www.halfpricepackaging.com/luxury-apparel-boxes	[L,R=301]
RewriteRule /toy-boxes.php	https://www.halfpricepackaging.com/toy-boxes	[L,R=301]
RewriteRule /cbd-pre-roll-boxes.php	https://www.halfpricepackaging.com/cbd-pre-roll-boxes	[L,R=301]
RewriteRule /chinese-takeout-boxes.php	https://www.halfpricepackaging.com/chinese-takeout-boxes	[L,R=301]
RewriteRule /perfume-boxes.php	https://www.halfpricepackaging.com/perfume-boxes	[L,R=301]
RewriteRule /triangle-box.php	https://www.halfpricepackaging.com/triangle-box	[L,R=301]
RewriteRule /apparel-pillow-boxes.php	https://www.halfpricepackaging.com/apparel-pillow-boxes	[L,R=301]
RewriteRule /brand-product-tray.php	https://www.halfpricepackaging.com/brand-product-tray	[L,R=301]
RewriteRule /burger-boxes.php	https://www.halfpricepackaging.com/burger-boxes	[L,R=301]
RewriteRule /cbd-soap-boxes.php	https://www.halfpricepackaging.com/cbd-soap-boxes	[L,R=301]
RewriteRule /cbd-tuck-boxes.php	https://www.halfpricepackaging.com/cbd-tuck-boxes	[L,R=301]
RewriteRule /cbd-vape-boxes.php	https://www.halfpricepackaging.com/cbd-vape-boxes	[L,R=301]
RewriteRule /custom-product-display-boxes.php	https://www.halfpricepackaging.com/display-box-packaging	[L,R=301]
RewriteRule /eye-shadow-boxes.php	https://www.halfpricepackaging.com/eye-shadow-boxes	[L,R=301]
RewriteRule /food-pillow-box.php	https://www.halfpricepackaging.com/food-pillow-boxes	[L,R=301]
RewriteRule /four-corner-gift-box.php	https://www.halfpricepackaging.com/four-corner-gift-box	[L,R=301]
RewriteRule /health-counter-display-boxes.php	https://www.halfpricepackaging.com/health-counter-display-boxes	[L,R=301]
RewriteRule /nail-polish-boxes.php	https://www.halfpricepackaging.com/nail-polish-boxes	[L,R=301]
RewriteRule /two-piece-candle-boxes.php	https://www.halfpricepackaging.com/two-piece-candle-boxes [L,R=301]
RewriteRule /burger-boxes.php	https://www.halfpricepackaging.com/burger-boxes	[L,R=301]
RewriteRule /cbd-candle-boxes.php	https://www.halfpricepackaging.com/cbd-candle-boxes	[L,R=301]
RewriteRule /cbd-e-cigarette-boxes.php	https://www.halfpricepackaging.com/cbd-e-cigarette-boxes	[L,R=301]
RewriteRule /cbd-sleeves-boxes.php	https://www.halfpricepackaging.com/cbd-sleeves-boxes	[L,R=301]
RewriteRule /cd-jackets.php	https://www.halfpricepackaging.com/cd-jackets	[L,R=301]
RewriteRule /custom-ecofriendly-packaging-boxes.php	https://www.halfpricepackaging.com/eco-friendly-boxes	[L,R=301]
RewriteRule /door-hangers.php	https://www.halfpricepackaging.com/door-hangers	[L,R=301]
RewriteRule /hair-extension-boxes.php	https://www.halfpricepackaging.com/hair-extension-boxes	[L,R=301]
RewriteRule /mailer-boxes.php	https://www.halfpricepackaging.com/mailer-boxes	[L,R=301]
RewriteRule /mascara-boxes.php	https://www.halfpricepackaging.com/mascara-boxes	[L,R=301]
RewriteRule /noodle-boxes.php	https://www.halfpricepackaging.com/noodle-boxes	[L,R=301]
RewriteRule /poly-bubble-mailers.php	https://www.halfpricepackaging.com/poly-bubble-mailers	[L,R=301]
RewriteRule /skin-health-product-boxes.php	https://www.halfpricepackaging.com/skin-health-product-boxes	[L,R=301]
RewriteRule /snap-lock-bottom-boxes.php	https://www.halfpricepackaging.com/snap-lock-bottom-boxes	[L,R=301]
RewriteRule /snap-lock-bottom-boxes.php	https://www.halfpricepackaging.com/snap-lock-bottom-boxes	[L,R=301]
RewriteRule /soap-wraps.php	https://www.halfpricepackaging.com/soap-wraps	[L,R=301]
RewriteRule /square-soap-boxes.php	https://www.halfpricepackaging.com/square-soap-boxes	[L,R=301]
RewriteRule /subscription-boxes-for-kids.php	https://www.halfpricepackaging.com/subscription-boxes-for-kids	[L,R=301]
RewriteRule /toast-packaging-boxes.php	https://www.halfpricepackaging.com/toast-packaging-boxes	[L,R=301]
RewriteRule /wedding-card-boxes.php	https://www.halfpricepackaging.com/wedding-card-boxes	[L,R=301]
RewriteRule /auto-bottom-counter-display-toy-boxes.php	https://www.halfpricepackaging.com/auto-bottom-counter-display-toy-boxes	[L,R=301]
RewriteRule /bakery-boxes.php	https://www.halfpricepackaging.com/bakery-boxes	[L,R=301]
RewriteRule /black-kraft-boxes.php	https://www.halfpricepackaging.com/black-kraft-boxes	[L,R=301]
RewriteRule /black-soap-boxes.php	https://www.halfpricepackaging.com/black-soap-boxes	[L,R=301]
RewriteRule /business-card-boxes.php	https://www.halfpricepackaging.com/business-card-boxes	[L,R=301]
RewriteRule /cbd-display-boxes.php	https://www.halfpricepackaging.com/cbd-display-boxes	[L,R=301]
RewriteRule /cbd-subscription-boxes.php	https://www.halfpricepackaging.com/cbd-subscription-boxes	[L,R=301]
RewriteRule /chinese-food-boxes.php	https://www.halfpricepackaging.com/chinese-food-boxes	[L,R=301]
RewriteRule /cream-boxes.php	https://www.halfpricepackaging.com/cream-boxes	[L,R=301]
RewriteRule /custom-shrink-sleeves.php	https://www.halfpricepackaging.com/custom-shrink-sleeves	[L,R=301]
RewriteRule /custom-wine-gift-boxes.php	https://www.halfpricepackaging.com/custom-wine-gift-boxes	[L,R=301]
RewriteRule /game-boxes.php	https://www.halfpricepackaging.com/game-boxes	[L,R=301]
RewriteRule /harry-potter-subscription-boxes.php	https://www.halfpricepackaging.com/harry-potter-subscription-boxes	[L,R=301]
RewriteRule /healthcare-product-hanger-box.php	https://www.halfpricepackaging.com/healthcare-product-hanger-box	[L,R=301]
RewriteRule /ice-cream-box.php	https://www.halfpricepackaging.com/ice-cream-box	[L,R=301]
RewriteRule /kraft-boxes.php	https://www.halfpricepackaging.com/kraft-boxes	[L,R=301]
RewriteRule /luxury-scent-boxes.php	https://www.halfpricepackaging.com/luxury-scent-boxes	[L,R=301]
RewriteRule /medicine-boxes.php	https://www.halfpricepackaging.com/medicine-boxes	[L,R=301]
RewriteRule /ornament-boxes.php	https://www.halfpricepackaging.com/ornament-boxes	[L,R=301]
RewriteRule /paper-food-trays.php	https://www.halfpricepackaging.com/paper-food-trays	[L,R=301]
RewriteRule /playing-card-boxes.php	https://www.halfpricepackaging.com/playing-card-boxes	[L,R=301]
RewriteRule /research-diagnostic-boxes.php	https://www.halfpricepackaging.com/research-diagnostic-boxes	[L,R=301]
RewriteRule /soap-boxes-with-window.php	https://www.halfpricepackaging.com/soap-boxes-with-window	[L,R=301]
RewriteRule /tie-boxes.php	https://www.halfpricepackaging.com/tie-boxes	[L,R=301]
RewriteRule /wrap-boxes.php	https://www.halfpricepackaging.com/wrap-boxes	[L,R=301]
RewriteRule /retail-boxes.php	https://www.halfpricepackaging.com/retail-boxes	[L,R=301]
RewriteRule /cbd-hemp-oil-boxes.php	https://www.halfpricepackaging.com/cbd-hemp-oil-boxes	[L,R=301]
RewriteRule /cupcake-boxes.php	https://www.halfpricepackaging.com/cupcake-boxes	[L,R=301]
RewriteRule /gift-card-boxes.php	https://www.halfpricepackaging.com/gift-card-boxes	[L,R=301]
RewriteRule /display-lid-boxes.php	https://www.halfpricepackaging.com/display-lid-boxes	[L,R=301]
RewriteRule /corrugated-boxes.php	https://www.halfpricepackaging.com/custom-corrugated-boxes	[L,R=301]
RewriteRule /invitation-boxes.php	https://www.halfpricepackaging.com/invitation-boxes	[L,R=301]
RewriteRule /apparel-sleeve.php	https://www.halfpricepackaging.com/apparel-sleeve	[L,R=301]
RewriteRule /cake-boxes.php	https://www.halfpricepackaging.com/cake-boxes	[L,R=301]
RewriteRule /book-boxes.php	https://www.halfpricepackaging.com/book-boxes	[L,R=301]
RewriteRule /foundation-boxes.php	https://www.halfpricepackaging.com/foundation-boxes	[L,R=301]
RewriteRule /makeup-boxes.php	https://www.halfpricepackaging.com/makeup-boxes	[L,R=301]
RewriteRule /beverage-box.php	https://www.halfpricepackaging.com/beverage-box	[L,R=301]
RewriteRule /candle-subscription-boxes.php	https://www.halfpricepackaging.com/candle-subscription-boxes	[L,R=301]
RewriteRule /handle-boxes.php	https://www.halfpricepackaging.com/handle-boxes	[L,R=301]
RewriteRule /postage-boxes.php	https://www.halfpricepackaging.com/postage-boxes	[L,R=301]
RewriteRule /cbd-chocolate-boxes.php	https://www.halfpricepackaging.com/cbd-chocolate-boxes	[L,R=301]
RewriteRule /mug-boxes.php	https://www.halfpricepackaging.com/mug-boxes	[L,R=301]
RewriteRule /beverage-seal-end-boxes.php	https://www.halfpricepackaging.com/beverage-seal-end-boxes	[L,R=301]
RewriteRule /cosmetic-display-boxes.php	https://www.halfpricepackaging.com/cosmetic-display-boxes	[L,R=301]
RewriteRule /software-boxes.php	https://www.halfpricepackaging.com/software-boxes	[L,R=301]
RewriteRule /gift-hexagon-boxes.php	https://www.halfpricepackaging.com/gift-hexagon-boxes	[L,R=301]
RewriteRule /kraft-tuck-top-boxes.php	https://www.halfpricepackaging.com/kraft-tuck-top-boxes	[L,R=301]
RewriteRule /bux-board-boxes.php	https://www.halfpricepackaging.com/bux-board-boxes	[L,R=301]




